/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 1em; 
}

#prompt_form h3{
  margin: 0;
}

.form_button{
  min-width: 25%;
  width: fit-content;
  padding: 10px;
  border: 2px solid #afafaf;
  border-radius: 20px;
  cursor: pointer;
}

.form_button:hover{
  background-color: #c5c4c4;
}

.form_button:focus{
  border: 2px solid #000;
}

#prompt_form .submit{
  float: right;
}

#input_prompt{
  padding: 10px;
  margin: 20px 0;
  min-height: 150px;
  min-width: 97%; 
  max-width: 97%; 
  height: 200px;
}

.response_container{
  margin: 60px 0;
}

#response{
  border: 2px solid #000;
  padding: 10px;
  height: 190px;
  min-width: 97%; 
  max-width: 97%; 
  overflow: auto;
}

.chat_response{
  list-style-type: none;
  padding: 0;
} 


.bot_response{
  background-color: #008fb3;
  color: #fff;
  padding: 10px;
  margin: 20px 0;
  width: 98%;
  word-wrap: break-word;
  border-radius: 7px;
  display:flex;
  align-items: flex-start;
}

.bot_profile{
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  background-color: #bbb;
  border-radius: 50%;
}

.content_container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.content_container h3{
  margin: 5px 0;
}

.content_container p{
  margin: 0;
}

.user_profile{
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  background-color: #000;
  border-radius: 50%;
}

.input_message{
  background-color: #008fb3;
  color: #fff;
  padding: 10px;
  margin: 20px 0;
  width: 98%;
  word-wrap: break-word;
  border-radius: 7px;
  display:flex;
  align-items: flex-start;
}

.api_return{
  border: 2px solid #000;
  padding: 10px;
  min-height: 40px;
  height: fit-content;
  min-width: 97%; 
  max-width: 97%; 
}