/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 1em; 
}

#prompt_form .submit{
  float: right;
}

#input_prompt{
  adding: 10px;
  margin: 20px 0;
  min-height: 150px;
  width: 99%; 
  height: 200px;
}

#response{
  border: 2px solid #000;
  padding: 10px;
  margin: 20px 0;
  min-height: 150px;
  width: 97%; 
  height: 336px;
}