/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 1em; 
}

#prompt_form h3{
  margin: 0;
}

.form_button{
  min-width: 25%;
  width: fit-content;
  padding: 10px;
  border: 2px solid #afafaf;
  border-radius: 20px;
  cursor: pointer;
}

.form_button:hover{
  background-color: #c5c4c4;
}

.form_button:focus{
  border: 2px solid #000;
}

#prompt_form .submit{
  float: right;
}

#input_prompt{
  padding: 10px;
  margin: 20px 0;
  min-height: 150px;
  min-width: 97%; 
  max-width: 97%; 
  height: 200px;
}

.response_container{
  margin: 60px 0;
}

#response{
  border: 2px solid #d1d0d0;
  padding: 0 10px;
  height: 190px;
  min-width: 97%;
  min-height: 250px;
  height: fit-content;
  max-height: 400px;
  overflow: auto;
}

.chat_response{
  list-style-type: none;
  padding: 0;
} 


.bot_response{
  color: #000;
  padding: 10px;
  margin: 20px 0;
  width: 98%;
  word-wrap: break-word;
  border-radius: 10px;
  display:flex;
  align-items: flex-start;
}

.bot_response:hover{
    background-color: #08647b;
    color: #fff;
}

.bot_profile{
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  background-color: #bbb;
  border-radius: 50%;
}

.content_container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
    word-wrap: break-word;
}
.name_date{
  display: flex;
  align-items: baseline;
}

.name_date p{
  font-size: 0.8rem;
  color: #b7aeae;
}

.content_container h3{
  margin: 0 8px 8px 0;
}

.content_container p{
  margin: 0;
}

.user_profile{
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  background-color: #04d458;
  border-radius: 50%;
}

.input_message{
  color: #000;
  padding: 10px;
  margin: 20px 0;
  width: 98%;
  word-wrap: break-word;
  border-radius: 10px;
  display:flex;
  align-items: flex-start;
}

.input_message:hover{
    background-color: #008fb3;
    color: #fff;
}

.api_return{
  border: 2px solid #000;
  padding: 10px;
  height: fit-content;
  min-width: 97%; 
  max-width: 97%; 
  text-align: center;
}